 <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>

    header{
        text-align: center;
        font-size: 2.2em;
        width: 100%;
        height: 10%;
        background-color: red;
        margin-bottom: 5%;
    }

    h2{
        padding-top: 1%;
    }

    #button button{
        width: 100px;
        height: 50px;
        font-size: 20px;
    }

    #button{
        float: left;
        margin: 200px 0 0 250px;
    }

    #next{
        display: block;
    }

    #previous{}

    #card_one{
        background-color: blue;
        width: 600px;
        height: 500px;
        margin: 0 auto;
        border-radius: 20px;
        position: absolute;
    }

    #card_two{
        background-color: blue;
        width: 600px;
        height: 500px;
        margin-top: -800px;
        border-radius: 20px;
        position: absolute;
    }

    #poster_one, #poster_two{
        float: left;
        margin: 100px 0 0 100px;
        position: absolute;
        border: 3px solid black;
    }

    #info_one, #info_two{
        width: 200px;
        height: 300px;
        margin: 30px 0 0 200px;
        position: absolute;
        font-size: 1.5em;
        background-color: red;
        padding: 50px;
    }
    
    #wrapper{
        text-align: center;
        margin: 0 auto;
        width: 700px;
    }

    </style>
</head>
<body>
    <header>
        <h2>My Favorite Movies</h2>
    </header>

<div id = "section">
    <div id = "button">
        <button id = "previous">previous</button>
        <button id = "next">next</button>
    </div>

<div id = "wrapper">
<div id = "card_one">
    <p>I'm Card One</p>
    <div id = "poster_one"></div>

   <div id = "info_one">
            <p id="title_one"></p>
            <p id="year_one"></p>
            <p id="rated_one"></p>
            <p id="released_one"></p>
            <p id="runtime_one"></p>
    </div>
</div>

<div id = "card_two">
    <p>I'm Card Two</p>
    <div id = "poster_two"></div>

   <div id = "info_two">
            <p id="title_two"></p>
            <p id="year_two"></p>
            <p id="rated_two"></p>
            <p id="released_two"></p>
            <p id="runtime_two"></p>
    </div>
</div>
</div>


</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <script>



$(document).ready(function(){


    var picker = true
    var card_one = $("#card_one");
    var card_two = $("#card_two");
    var colors = ["red", "orange", "yellow", "green", "blue"];
    var index = 0;


  $("#next").click(function(){

if(index >= colors.length){
    index = 0;
}

if(picker === true){
    card_two.css({'background-color' : colors[index]})
    startAnimation();
    function startAnimation(){
      card_one.animate({marginTop: "100%"},"slow", hideAnimation);
    }
    function hideAnimation(){
    card_two.animate({marginTop: "0"}, "slow");
    card_one.css({'margin-top':'-800px'})
    }
    picker = false;
    index++;
}

else{
    card_one.css({'background-color' : colors[index]})
    startAnimationTwo();
    function startAnimationTwo(){
    card_two.animate({marginTop: "100%"},"slow", hideAnimationTwo);
    }
    function hideAnimationTwo(){
    card_one.animate({marginTop: "0"}, "slow");
    card_two.css({'margin-top':'-800px'})
    }
    picker = true;
    index++;
}


  });
});


    //     var movies = ["Kill Bill: Vol. 1", "Kill Bill: Vol. 2", "Pulp Fiction", "Amélie", "Fight Club", 
    //     "Forrest Gump", "Goodfellas", "Anchorman: The Legend of Ron Burgundy", "Snatch.", "Some Like it Hot",
    //     "Inglorious Bastards", "Indiana Jones and the Last Crusade", "Lock, Stock and Two Smoking Barrels",
    //     "Jurassic Park", "Fargo", "Trainspotting", "Toy Story", "Y Tu Mamá También"]
        
    //     //this will go though all the functions
    //     var next_button = document.getElementById('next');
    //     var i = 0;

    //     //for on load, must declare img outside of click
    //     var counter = 0
    //     var img = document.createElement('img');

    //     next_button.addEventListener('click', function(){
    //         var input_box = document.querySelector('input');
    //         var movie = movies[i];
    //         //i resets to 0 when it gets to the end of the array of movies
    //         if(i < movies.length-1){
    //             i++;
    //         }
    //         else{
    //             i = 0
    //         }

    //         //encodeURI sets it up with % etc to format it for searching
    //         var encoded = encodeURI(movie);
    //         console.log(encoded)

    //     var url = "http://omdbapi.com/?t=" + encoded;
    //     var xhr = new XMLHttpRequest();



    //     xhr.addEventListener('load', function(e) {
      
    //     // xhr.responseText - this is what get's the shit
    //     var d = xhr.responseText;
    //     var parsed = JSON.parse(d);

    //     //this grabs the img tag from the html file then sets
    //     //the src to the parsed JSON to the key value Poster   
    //     var poster = document.getElementById('poster');        
    //     counter++;

    //         if(counter == 1){
    //         poster.appendChild(img);
    //         }

    //     img.src = parsed.Poster;

    //     var title = document.getElementById('title');
    //     title.innerText = parsed.Title;
    //     var year = document.getElementById('year');
    //     year.innerText = parsed.Year;
    //     var rated = document.getElementById('rated');
    //     rated.innerText = parsed.Rated;
    //     var released = document.getElementById('released');
    //     released.innerText = parsed.Released;
    //     var runtime = document.getElementById('runtime');
    //     runtime.innerText = parsed.Runtime;
    // })
    //     // this just tells you where to go get the data. 
    //     xhr.open("GET", url);
    //     xhr.send();

    // })
    </script>
</body>
</html>